﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Resultado Etapa 2</title>
    <style>
        .text-align-center{
            text-align:center;
        }
        .imagem{
            display:block;
            margin: 0 auto;
            max-width: 1024px;
            width: 100%;
        }
    </style>
</head>
<body>
    <div class="resultado">@ViewBag.tables</div>
</body>
</html>