﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Resultado Etapa 1</title>
    <style>
        .text-align-center{
            text-align:center;
        }
    </style>
</head>
<body>
    <div class="resultado">

        <p>Olá, @ViewBag!</p>

        <p>
            A partir das informações que você preencheu no Diagnóstico Financeiro, foi possível fazer uma análise detalhada da Empresa ABCDE. <br />
            Veja o documento em anexo e conheça os resultados
        </p>

        <p>Um abraço e conte conosco,</p>

        <p>Equipe Sebrae</p>

    </div>
</body>
</html>